body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    background: black;
}

.logo {
    height: 78px;
    width: 290px;
}

.logo_f {
    margin-top: 0px;
    height: 70px;
    width: 262px;
}

.logo_nu {
    position: absolute;
    right: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.bg {
    background: white;
    padding-top: 300px;
    padding-bottom: 300px;
}

.bg_intro {
    background: black;
    padding-top: 300px;
    padding-bottom: 100px;
}

.intro {
    font-size: 20px;
}

.logo_bg_sup {
    width: 400px;
    display: block;
    margin-bottom: 20px;
}

.btn_cus {
    padding: 8px 20px;
    color: white;
    background: black;
    border: 1px solid white;
    transition: all 0.8s;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 30px;
}

.btn_cus:hover,
.btn_cus:active,
.btn_cus:focus {
    color: black;
    background: white;
    border: 1px solid black;
    transform: scale(1.1);
    outline: none;
}

p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    background: black;
    padding-top: 30px;
    padding-bottom: 0px;
}

.contact::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid white;
    margin-top: -10px;
}

i {
    color: white;
}

.copy {
    background: black;
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center;
    border: none;
}

.container_cus {
    width: 450px;
}

.form {
    width: 550px;
    height: 715px;
    margin-left: -5px;
}

@media only screen and (max-width: 600px) {
    .logo_nu {
        display: none;
    }
    .logo_bg_sup {
        width: 300px;
        display: block;
    }
    .contact::after {
        width: 85%;
    }
    .logo_f {
        margin-top: 0px;
    }
    .container_cus {
        width: 300px;
    }
    .form {
        width: 380px;
        height: 715px;
    }
}

@media only screen and (max-width: 380px) {
    .form {
        width: 315px;
        height: 720px;
    }
}